

  <div class="col-one">
    <section class="sec-one">
      <h4>People you should follow</h4>
      <ul class="users">
        <li class="user">
          <img src="https://i.pinimg.com/736x/44/e6/b7/44e6b77d17b60e89d67f6b2e974b46eb--dream-cast-amazing-eyes.jpg" alt="user">
          <p>Akiel Helmet</p> <button class="button"> request</button>
          <p class="icon"><i class="fas fa-user-plus"></i></p>
        </li>
        <li class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgIrufSnHpnwRRCF0Rzn7wz6JrKGPx14Ww4mEVzFv00dsOqVY9" alt="user">
          <p>Akiel Helmet</p>
          <p class="icon"><i class="fas fa-user-plus"></i></p>
        </li>

        <li class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgIrufSnHpnwRRCF0Rzn7wz6JrKGPx14Ww4mEVzFv00dsOqVY9" alt="user">
          <p>Akiel Helmet</p>
          <p class="icon"><i class="fas fa-user-plus"></i></p>
        </li>


      </ul>


    </section>

    <section class=" sec-two">
      <ul class="users">
        <li class="user">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="user">
          <p>Akiel Helmet</p>
          <p class="icon"><i class="fas fa-user-plus"></i></p>
        </li>
        <li class="user">
          <img src="https://www.w3schools.com/howto/img_avatar.png" alt="user">
          <p>Akiel Helmet</p>
          <p class="icon"><i class="fas fa-user-plus"></i></p>
        </li>

        <li class="user">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQivdnScHPNVTnxKwU2dggmOAwzB_kER3XgL1JqVrnbvWIQoDzXA" alt="user">
          <p>Akiel Helmet</p>
          <p class="icon"><i class="fas fa-user-plus"></i></p>
        </li>

      </ul>
    </section>
    <div class=" sec-three">Hello</div>
    <div class=" sec-four">Hello</div>



  </div>
  <div class="two">
    <section class="main-content">
      <h4>Say whats on your mind <%= current_user.username %></h4>
      <div class="status-body">
        <img class='status-img' src="https://www.w3schools.com/howto/img_avatar.png" alt="image">
        <input class="status-input" type="text" placeholder="Whats on your mind family?">
      </div>
      <div class="status-footer">
        <div class="body">
          <div> <img class='status-img' src="https://www.w3schools.com/howto/img_avatar.png" alt="image">
            <p>Hello</p>
          </div>
          <div> <img class='status-img' src="https://www.w3schools.com/howto/img_avatar.png" alt="image">
            <p>Hello</p>
          </div>
          <div> <img class='status-img' src="https://www.w3schools.com/howto/img_avatar.png" alt="image">
            <p>Hello</p>
          </div>

        </div>
      </div>
    </section>

    <!-- POST SECTION -->
    <div class="main-content-second">
      <div class="posts">

        <% @posts.each do |post| %>
        <div class="post-header">
          <img class="user-image" src="https://cdnb.artstation.com/p/assets/images/images/001/863/575/large/irakli-nadar-artstation-da.jpg?1453903033&dl=1"  alt="user">
          <div class="post-details" >
            <h4>Tommy Grind <%= post.user_id  %> </h4>
            <small><%= time_ago_in_words(post.created_at) %> </small>
          </div>
        </div>
        <div class="post-comment">
          <p><%= post.content %></p>
        </div>
        <div class="post-image">
          <img src="https://cdn.homesthetics.net/wp-content/uploads/2014/09/21-Snapshots-of-Abandoned-Places-That-Have-Been-Conquered-by-Nature-homesthetics-4.jpg" alt="Post Image">
        </div>
        <% end %>
        <div class="like-comment">
          <span><i class="fas fa-heartbeat fa-1x love-icon"></i> Love</span>
          <span><i class="far fa-comment fa-1x comment-icon"> </i> Comment</span>
        </div>
        <div class="comments">
          <ul>

          </ul>
          <div class="user-comment">
            <img class="user-image" src="https://www.w3schools.com/howto/img_avatar.png" alt="user">
            <input class="user-comment-box" type="text" placeholder="Leave a Comment">
            <button class="comment-button">Post</button>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="three">
    <h4 class="section-title">Friends</h4>
    <div class="friends">
      <div class="friends-list">
        <img  class='friend-image'  src="https://cdnb.artstation.com/p/assets/images/images/001/863/575/large/irakli-nadar-artstation-da.jpg?1453903033&dl=1" alt="image">
        <div class="friend">
          <h4>
            Kenton Wright
          </h4>
          <small>
            two days ago
          </small>
        </div>
      </div>

      <div class="friends-list">
        <img  class='friend-image'  src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="image">
        <div class="friend">
          <h4>
            Kenton Wright
          </h4>
          <small>
            two days ago
          </small>
        </div>
      </div>
      <div class="friends-list">
        <img  class='friend-image'  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQivdnScHPNVTnxKwU2dggmOAwzB_kER3XgL1JqVrnbvWIQoDzXA" alt="image">
        <div class="friend">
          <h4>
            Kenton Wright
          </h4>
          <small>
            two days ago
          </small>
        </div>
      </div>
      <div class="friends-list">
        <img  class='friend-image'  src="https://23asb.itocd.net/www/images/girl/1218401-1218600/66f8f51f-8513-4570-89f0-b72dc660d139.jpg" alt="image">
        <div class="friend">
          <h4>
            Kenton Wright
          </h4>
          <small>
            two days ago
          </small>
        </div>
      </div>
      <div class="friends-list">
        <img  class='friend-image'  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQufY5IYrhBfNC1JXMHvt0qYZt0iOsfLQdZz4XMA3hYoN0lZ6MR" alt="image">
        <div class="friend">
          <h4>
            Kenton Wright
          </h4>
          <small>
            two days ago
          </small>
        </div>
      </div>

    </div>
  </div>